<!-- page title -->
<app-page-title [breadcrumbItems]="pageTitle" title="Liste des propositions"></app-page-title>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-lg-8">
                        <form class="d-flex flex-wrap align-items-center">
                            <label for="status-select" class="me-2">Status</label>
                            <div class="me-sm-3">
                                <select class="form-select form-select my-1 my-lg-0" id="status-select" name="status"
                                    [(ngModel)]="propositionStatus" (change)="changePropositionStatus(propositionStatus)">
                                    <option value="All">All</option>
                                    <option value="Validé">Validé</option>
                                    <option value="En attente">En attente</option>
                                    <option value="Refusé">Refusé</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <app-ui-preloader [display]="loading"></app-ui-preloader>
                <!-- order table -->
                <!-- product table -->
                <app-advanced-table #advancedTable (handleTableLoad)="handleTableLoad($event)" [tableData]="propositions"
                    [columns]="columns" [pagination]="true" [hasRowSelection]="true" [isSearchable]="true"
                    (search)="searchData($event)" [isSortable]="false" tableClasses="table-centered"
                    theadClasses="table-light">
                </app-advanced-table>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>
<!-- end row -->