<!-- page title -->
<app-page-title [breadcrumbItems]="pageTitle" title="Order Details"></app-page-title>

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-3">Objets à échanger</h4>
                <div class="table-responsive">
                    <table class="table table-bordered table-centered mb-0">
                        <thead class="table-light">
                            <tr>
                                <th>Séléctionner</th>
                                <th>Designation</th>
                                <th>Image</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let objet of objetDestinaire">
                                <td>
                                    <input 
                                    type="checkbox" 
                                    [checked]="isChecked(objet.id)" 
                                    [disabled]="isDisabled(objet.id)" 
                                    [value]="objet.id" 
                                    (change)="onCheckboxChangeAEchanger($event, objet.id)">
                                </td>   
                                <td>{{objet.nom}}</td>
                                <td><img [src]="objet.image" alt="product-img" height="32">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-3">Mes objets</h4>
                <div class="table-responsive">
                    <table class="table table-bordered table-centered mb-0">
                        <thead class="table-light">
                            <tr>
                                <th>Séléctionner</th>
                                <th>Designation</th>
                                <th>Image</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let objet of myObjets">
                                <td>
                                    <input 
                                    type="checkbox" 
                                    [value]="objet.id" 
                                    (change)="onCheckBoxChangeMyObjet($event, objet.id ?? 0)">
                                </td>   
                                <td>{{objet.nom}}</td>
                                <td><img [src]="objet.image" alt="product-img" height="32">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-end mt-3">
    <button type="button" class="btn btn-success waves-effect waves-light" (click)="creerProposition()">
        <span class="btn-label"><i class="mdi mdi-swap-horizontal"></i></span>Valider la proposition
    </button>
</div>  

<!-- end row -->