<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="dark" fill="clear">
        <ion-icon name="list-outline" slot="icon-only"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item lines="none" class="ion-margin-vertical">
    <ion-label>
      Bonjour
      <p>
        <ion-text color="dark">
          Naina Matthieu
        </ion-text>
      </p>
    </ion-label>

    <ion-thumbnail slot="end">
      <img [src]="'assets/img/avatar.jpg'">
    </ion-thumbnail>
  </ion-item>

  <ion-list-header>
    Découvrir des objets à échanger
  </ion-list-header>

  <ion-row class="ion-margin">
    <ion-row>
      <ion-col size="8">
        <ion-searchbar placeholder="Rechercher par nom"></ion-searchbar>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <ion-card color="light" class="custom-card">
          <ion-thumbnail>
            <ion-icon name="scan-outline" class="color-of-button"></ion-icon>
          </ion-thumbnail>
          <ion-label class="custom-label">Scan QR Code</ion-label>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-row>
</ion-content>