<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">

      <ion-button routerLink="/historique" color="dark" fill="clear">
        <ion-icon name="list-outline" slot="icon-only"></ion-icon>
        <ion-badge color="light">
          <ion-text color="tertiary">{{totalHistorique}}</ion-text>
        </ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" class="ion-margin-vertical">
    <ion-label>
      Bonjour
      <p>
        <ion-text color="dark">
          cher utilisateur
        </ion-text>
      </p>
    </ion-label>
    <ion-thumbnail slot="end">
      <img [src]="'assets/img/logo.png'">
    </ion-thumbnail>
  </ion-item>

  <ion-list-header>
    Découvrir des objets à échanger
  </ion-list-header>

  <ion-row class="ion-margin">
    <ion-col size="8">
      <ion-searchbar placeholder="Rechercher" (ionInput)="filterObjects($event)"></ion-searchbar>
    </ion-col>
    <ion-col size="4" class="ion-text-center">
      <ion-card color="light" class="custom-card" (click)="filterObjectsByQR()">
        <ion-thumbnail>
          <ion-icon name="scan-outline" class="color-of-button"></ion-icon>
        </ion-thumbnail>
        <ion-label class="custom-label">Scan QR Code</ion-label>
      </ion-card>
    </ion-col>
  </ion-row>

  @if(filteredObjets){
    <ion-row class="objet-list">
      <ion-col size="12" size-xs="6" size-sm="6" size-md="6" size-lg="6" *ngFor="let o of filteredObjets">
        <app-objet-item [objet]="o" (clicked)="goToDetailPage(o.id)"></app-objet-item>
      </ion-col>
    </ion-row>
  }@else{
    <div class="spinner-container">
      <ion-spinner name="circles"></ion-spinner>
    </div>
  }
</ion-content>